backend/src/domain/affairs/cisu/entities/cisu/alert.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:emergency:cisu:2.0" xmlns:ns1="urn:emergency:cisu:2.0">
      <xs:include schemaLocation="common.xsd"/>

  <xs:element name="primaryAlert">
    <xs:annotation>
      <xs:documentation>
                L'objet alerte correspond à la transcription d'une communication d'urgence.
                la PrimaryAlert est la premiere alerte concernant cette situation d'urgence
            </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:alertId"/>
        <xs:element ref="ns1:receivedAt"/>
        <xs:element ref="ns1:reporting"/>
        <xs:element minOccurs="0" ref="ns1:alertInformation"/>
        <xs:element ref="ns1:alertLocation"/>
        <xs:element ref="ns1:call"/>
        <xs:element ref="ns1:caller"/>
        <xs:element ref="ns1:callTaker"/>
        <xs:group ref="ns1:alertCode"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:resource"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="otherAlert">
    <xs:annotation>
      <xs:documentation>
                L'objet alerte correspond à la transcription d'une communication d'urgence.
                la otherAlert est un des alerte complémentaire concernant cette situation d'urgence
            </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:alertId"/>
        <xs:element ref="ns1:receivedAt"/>
        <xs:element ref="ns1:reporting"/>
        <xs:element minOccurs="0" ref="ns1:alertInformation"/>
        <xs:element minOccurs="0" ref="ns1:alertLocation"/>
        <xs:element ref="ns1:call"/>
        <xs:element ref="ns1:caller"/>
        <xs:element ref="ns1:callTaker"/>
        <xs:group ref="ns1:otherAlertCode"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:resource"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="alertId" type="ns1:uuid_v4">
    <xs:annotation>
      <xs:documentation>
                Identifiant technique unique de l'alerte. Il doit pouvoir être généré automatiquement
                et ne doit pas avoir de signification particulière.
            </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="receivedAt" type="ns1:date_type"/>
  <xs:element name="reporting">
    <xs:annotation>
      <xs:documentation>
                Signalement de l'affaire. Peut prendre les valeurs suivantes :
                STANDARD : L'alerte n'appelle à aucun signalement
                ATTENTION : L'alerte mérite une attention particulière des forces
            </xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="STANDARD"/>
        <xs:enumeration value="ATTENTION"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="alertInformation" type="xs:string">
    <xs:annotation>
      <xs:documentation>
                Texte libre permettant de donner des informations supplémentaires concernant l'alerte.
            </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="alertLocation" type="ns1:locationType">
    <xs:annotation>
      <xs:documentation>
                Cet élément peut soit :
                - représenter la localisation du requérant si celle-ci diffère de celle de l'événement.
                - soit pointer sur 'eventLocation' (via 'loc_Id')si la localisation de l'affaire est confondue
                avec celle de l'alerte.
            </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="call">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:source"/>
        <xs:element minOccurs="0" ref="ns1:dialledURI"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="source" type="xs:string">
    <xs:annotation>
      <xs:documentation>
                    Permet d'indiquer l'origine de la communication : Personne, application, DAU, BAU, défibrillateur,
                    ecall, …
                </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="dialledURI" type="xs:anyURI">
    <xs:annotation>
      <xs:documentation>
                        URI 'appelée' : tel:112, tel:18, sip:sos@nexsis.fr, ...
                    </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="caller">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:callerURI"/>
        <xs:element minOccurs="0" ref="ns1:callbackURI"/>
        <xs:element minOccurs="0" ref="ns1:spokenLanguage"/>
        <xs:element minOccurs="0" ref="ns1:callerInformation"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="callerURI" type="xs:anyURI">
    <xs:annotation>
      <xs:documentation>
                    URI de l'appelant : tel:+33611223344, sip:top@domain.org, ...
                </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="callbackURI" type="xs:anyURI">
    <xs:annotation>
      <xs:documentation>
                        URI permettant un rappel. Dans certain cas de figure le requérant transmet un moyen de
                        recontacter la victime ou un témoin
                    </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="spokenLanguage" type="xs:language">
    <xs:annotation>
      <xs:documentation>
                        Langue parlée par le requérant. Permet de mettre en place des traducteurs si besoin.
                    </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="callerInformation" type="xs:string">
    <xs:annotation>
      <xs:documentation>
                        Information sur le requérant : malentendant, impliqué dans l'accident, ...
                    </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="callTaker">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="ns1:organization"/>
        <xs:element minOccurs="0" ref="ns1:controlRoom"/>
        <xs:element minOccurs="0" ref="ns1:calltakerURI"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="organization" type="xs:string">
    <xs:annotation>
      <xs:documentation>
                        Organisation d'appartenance de l'opérateur ayant traité l'alerte
                    </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="controlRoom" type="xs:string">
    <xs:annotation>
      <xs:documentation>
                        Salle opérationnelle de l'opérateur de traitement
                    </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="calltakerURI" type="xs:anyURI">
    <xs:annotation>
      <xs:documentation>
                        Numéro permettant de recontacter l'opérateur de traitement
                    </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:group name="alertCode">
    <xs:sequence>
      <xs:element name="alertCode">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ns1:version"/>
            <xs:element ref="ns1:whatsHappen"/>
            <xs:element minOccurs="0" ref="ns1:locationKind"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:riskThreat"/>
            <xs:element minOccurs="0" ref="ns1:healthMotive"/>
            <xs:element minOccurs="0" ref="ns1:victims"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="otherAlertCode">
    <xs:sequence>
      <xs:element name="alertCode">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ns1:version"/>
            <xs:element minOccurs="0" ref="ns1:whatsHappen"/>
            <xs:element minOccurs="0" ref="ns1:locationKind"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:riskThreat"/>
            <xs:element minOccurs="0" ref="ns1:healthMotive"/>
            <xs:element minOccurs="0" ref="ns1:victims"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:element name="resource" type="ns1:resourceType"/>
  <xs:element name="version">
    <xs:annotation>
      <xs:documentation>
                Indique le numéro de version des codes transmis. Cela permet
                de s'assurer que les systèmes opérationnels soient en capacité de les
                traiter correctement.
            </xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:normalizedString">
        <xs:pattern value="latest|(\d+(\.\d*)?)"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="whatsHappen" type="ns1:attributeType">
    <xs:annotation>
      <xs:documentation>
                Décrit la nature de fait de l'alerte (NF)
            </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="locationKind" type="ns1:attributeType">
    <xs:annotation>
      <xs:documentation>
                Décrit le type de lieu (TL)
            </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="riskThreat" type="ns1:attributeType">
    <xs:annotation>
      <xs:documentation>
                Décrit les risque, menace et sensibilité (RMS)
            </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="healthMotive" type="ns1:attributeType">
    <xs:annotation>
      <xs:documentation>
                Décrit les motifs de recours médico-secouriste (MR)
            </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="victims">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:count"/>
        <xs:element minOccurs="0" ref="ns1:mainVictim"/>
        <xs:element minOccurs="0" name="comment" type="xs:string">
          <xs:annotation>
            <xs:documentation>
                        Permet de complémenter en commentaire libre la(les) victime(s)
                    </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="count">
    <xs:annotation>
      <xs:documentation>
                    Indique le nombre de victime 0 (P00), 1 (P01) ou :
                    SEVERAL : (P02) Plusieurs victimes (entre 2 à 4 victimes signalées)
                    MANY : (P03) Nombreuses victimes (à partir de 5 victimes signalées)
                    UNKNOWN : (P04) Indéterminé (information non connue lors de l’appel)
                </xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="0"/>
        <xs:enumeration value="1"/>
        <xs:enumeration value="SEVERAL"/>
        <xs:enumeration value="MANY"/>
        <xs:enumeration value="UNKNOWN"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="mainVictim">
    <xs:annotation>
      <xs:documentation>
                        Identifie le type de la principale victime. Celle dont l'état de santé
                        provoque le déclenchement de l'envoi des secours
                    </xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="INFANT"/>
        <xs:enumeration value="CHILD"/>
        <xs:enumeration value="ADULT"/>
        <xs:enumeration value="PREGNANT"/>
        <xs:enumeration value="SENIOR"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:complexType name="resourceType">
    <xs:sequence>
      <xs:element ref="ns1:resourceDesc"/>
      <xs:element ref="ns1:mimeType"/>
      <xs:element minOccurs="0" ref="ns1:size"/>
      <xs:element minOccurs="0" name="URI" type="xs:anyURI">
        <xs:annotation>
          <xs:documentation>
                    Une URI, généralement une URL, qui permet d'atteindre la ressource sur Internet ou sur un réseau privé
                </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" ref="ns1:derefURI"/>
      <xs:element minOccurs="0" ref="ns1:digest"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="resourceDesc" type="xs:string">
    <xs:annotation>
      <xs:documentation>
                Décrit la ressource en précisant le type et le contenu, tels que «carte» ou «photo»
            </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="mimeType" type="xs:string">
    <xs:annotation>
      <xs:documentation>
                L'identifiant du type MIME de contenu et sous-type décrivant la ressource
            </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="size" type="xs:integer">
    <xs:annotation>
      <xs:documentation>
                    Taille approximative de la ressource
                </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="derefURI" type="xs:string">
    <xs:annotation>
      <xs:documentation>
                    Peut être utilisé à la place de l'élément 'URI' pour envoyer la ressource encodée en base64
                </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="digest" type="xs:string">
    <xs:annotation>
      <xs:documentation>
                    Hash de la ressource
                </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="attributeType">
    <xs:sequence>
      <xs:element ref="ns1:code"/>
      <xs:element ref="ns1:label"/>
      <xs:element minOccurs="0" ref="ns1:comment"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="code">
    <xs:annotation>
      <xs:documentation>
                Décrit le code des NF, TL, RMS et MR. Les différents niveaux doivent être séparés par un point.
            </xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:normalizedString">
        <xs:pattern value="[CLMR](([0-9][0-9])|(([0-9][0-9])(\.[0-9][0-9]){1,2}))"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="label" type="xs:string">
    <xs:annotation>
      <xs:documentation>
                Présente les différents libellés des circonstances. Les libellés des différents niveaux (par exemple C01.00.02)
                doivent être concaténés. L’espace peut être utilisé comme séparateur.
            </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="comment" type="xs:string">
    <xs:annotation>
      <xs:documentation>
                    Permet de complémenter en commentaire libre le choix des circonstances
                </xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>
